@import url('./no-scrolbar.css');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-dark-nebula h-full text-white;
    }

    header {
        @apply flex align-middle justify-center;
    }

    h1 {
        @apply text-white my-4 py-2;
    }    

    ul {
        @apply font-courier italic font-extrabold text-[2vw];
        @apply text-[#fc84c6]; /* Alt. colors: purple-400; #fc84f8 */
    }

    q {
        @apply text-[2vw] xs:text-[6vw] sm:text-[4vw] lg:text-[2vw];
    }

}

@layer components {

    .logo-img {
        @apply mt-4;
    }

    .contacts {
        @apply mx-2;
    }
        
    .whatsapp-icon {
        @apply text-[#25D366];
    }

    .email-icon {
        @apply text-blue-500;
    }

    /* MAIN */

    .text-mask {
        @apply font-anton font-black leading-none text-center;
        @apply text-[11vw] xs:text-[14vw];
        @apply text-transparent bg-clip-text [-webkit-background-clip:text] bg-no-repeat bg-cover bg-[25%_40%];
    }

    .text-mask.image-version {
        @apply bg-[url('img/whitebeach-boracay-sunset.jpg')]
    }

    .motto {
        @apply justify-center font-lora font-bold italic lg:mt-10 lg:mb-20 lg:ml-32;
        @apply text-center lg:text-left;
    }

    .box {
        @apply w-5 h-5 sm:w-10 sm:h-10 md:w-[60px] md:h-[60px] lg:w-20 lg:h-20;
    }
}

@layer utilities {

}